<h2 class="mt-2 text-center" style="color: #0384fc;"> Available Users </h2>

<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col" class="text-secondary">id</th>
      <th scope="col" class="text-secondary">Name</th>
      <th scope="col" class="text-secondary">Email</th>
      <th scope="col" class="text-secondary">Joined Date</th>
    </tr>
  </thead>
  <% if @users %>
        <tbody>
            <% @users.each do |user| %>
                <tr>
                    <th scope="row"> <%= link_to user.id, user %></th>
                    <td><%= nil %></td>
                    <td><%= user.email %></td>
                    <td><%= user.created_at.strftime("%B %d, %Y")  %></td>
                </tr>
            <% end %>
        </tbody>
  <% end %>
  
</table>